*{
  text-decoration: none;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  outline: none;
  border: none;
}
html body{
  height: 100%;
  background-color: black;
}
.logo{
  width: 150px;
}
.pic{
  width: 14px;
}

.header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.block{
  margin-top: 20px;
  border: 1px solid white;
  height: 100%;
  background: #121212;
  border: 1px solid #373737;
  border-radius: 10px;
  max-height: 410px;
  width: 350px;
  overflow: hidden;
}

.head{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #373737;
}

.head a {
  margin: 0 50px;
  width: 100%;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  display: flex;
  color: #787878;
}

.head .selected {
  font-weight: 600;
  color: #00FF5C;
  position: relative;
}


.head .selected:after{
  position: absolute;
  content:'';
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #00FF5C;
  border-radius: 99px 99px 0px 0px;
}
.tabs{
  height: calc(100% - 72px);
  display: flex;
}
form{
  width: 100%;
  height: 100%;
  padding: 44px 38px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: relative;
  flex-direction: column;
  right: 0;
  transition: right 0.2s;
}

.extends form {
  right: 100%;
}

.inputs{
  width: 100%;
  padding-top: 6px;
}

.inp{
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.inp input{
  width: 100%;
  font-size: 15px;
  color: #dcdcdc;
  background: #1c1c1c;
  border-radius: 8px;
  padding: 10px 10px 10px 41px;
}
.inp img{
  position: absolute;
  left: 18px;
  height: 100%;
}
label{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.checkbox span{
  color: #6e6e6e
}

button{
  border-radius: 10px;
  padding: 14px 52px;
  background-color: #00FF5C;
  font-size: 15px;
  font-weight: 600;
  display: block;
}
button:hover {
  background-color: #09ab3f;
  transition: 0.01s;
}
